@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600&display=swap");
/* variables start*/
/* components start */
.btn {
  background-color: #217bf4;
  border: 0;
  color: #fff;
  padding: 14px 24px;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
}
.label {
  font-size: 14px;
  font-weight: 600;
  color: #0a093d;
  margin-bottom: 7px;
  display: block;
}
.input {
  border: 1px solid #ded2d9;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 30px;
}
.input::placeholder {
  font-family: inherit;
}
.input:focus {
  outline: none;
}
.gradient-bg {
  background: linear-gradient(to top left, #d4e7fe 0, #fff 100%);
}
/* components end */
/* variables end  */

/* global rules start  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* global rules end */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
